<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.pw.mini.mininavigator" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pw.mini.mininavigator.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pw.mini.mininavigator.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.WifiDataActivity"
            android:label="@string/title_activity_wifi_data"
            android:parentActivityName=".activities.MapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pw.mini.mininavigator.activities.MapActivity" />
        </activity>
        <activity
            android:name=".activities.HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".activities.MapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pw.mini.mininavigator.activities.MapActivity" />
        </activity>
    </application>

</manifest>
